<?xml version="1.0"?>
<model>
    <name>F450.SLDASM</name>
    <version>1.0</version>
    <sdf version="1.5">F450.SLDASM.sdf</sdf>

    <author>
      <name>Xi Yuan</name>
      <email>xi.yuan.173@cranfield.ac.uk</email>
    </author>

    <description>
      A model of GDP UAV.
    </description>
</model>
